<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/4f5308f8c5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header__api">
        <h1 class="header__titulo">API-Registro de Artigos</h1>
        <ul class="header__lista">
            <li class="lista__link"><a href="{{url_for('index')}}" class="lista__link--archor">Home</a></li>
            <li class="lista__link"><a href="{{url_for('importar')}}" class="lista__link--archor">Importar</a></li>
        </ul>
    </header>

    <div class="message message-off">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="message__texto">{{message}}</p>
                    <spam class="message__spam"><i class="fa-solid fa-x"></i></spam>
                {%endfor%}
            {% endif %}
        {% endwith %}
    </div>    

    {%block conteudo%}

    {%endblock%}
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>