{%extends "base.html"%}
{%block conteudo%}

    <div class="container container--flex">
        <h1 class="container__titulo">Adicionar Artigo</h1>
        <form action="/adicionar" method="post" class="container__formulario">
            <label for="link" class="formulario__titulo">Informe o Link</label>
            <input type="url" name="link" class="formulario__campo">
            <label for="titulo" class="formulario__titulo">Informe o titulo do artigo</label>
            <input type="text" name="titulo" class="formulario__campo">
            <button class="formulario__btn">Salvar</button>
        </form>
    </div>
    {%if tamanho_lista > 0%}
        <h1 class="titulo__table">Artigos</h1>
        <table class="container__table">
            <th class="table__thead">
                <tr class="thead__linha">
                    <td class="thead__coluna">ID</td>
                    <td class="thead__coluna">Artigo</td>
                    <td class="thead__coluna">Link</td>
                    <td class="thead__coluna" colspan="2">Opções</td>
                </tr>
            </th>
            <tbody class="table__tbody">
                {%for item in lista_de_artigos%}
                <tr class="tbody__linha">
                    <td class="tbody__coluna">{{item.id_artigo}}</td>
                    <td class="tbody__coluna">{{item.titulo}}</td>
                    <td class="tbody__coluna"><a href="{{item.link}}" class="link">Link</a></td>
                    <td class="tbody__coluna">
                        <button type="submit" class="table__btn--apagar" onclick="window.location.href = '/delete/{{item.id_artigo}}'">Apagar</button>
                    </td>
                    <td class="tbody__coluna">
                        <button class="table__btn" onclick="window.location.href = '/atualizar/{{item.id_artigo}}'">Atualizar</button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%endif%}
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
{%endblock%}